.ProseMirror {
    min-height: 600px;
    height: auto;
    
    padding: 20px;

    outline: none;

    color: white;

    background: black;

    font-size: 16px;

    line-height: 1.8;
}

.ProseMirror p {
    color: white;
}

.ProseMirror h1 {
  font-size: 2rem;
  font-weight: 700;
}

.ProseMirror h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.ProseMirror ul {
  list-style-type: disc;
  padding-left: 2rem;
}

.ProseMirror ol {
  list-style-type: decimal;
  padding-left: 2rem;
}

.ProseMirror blockquote {
  border-left: 3px solid #ccc;
  padding-left: 1rem;
  color: gray;
}

.ProseMirror code {
  background: #eee;
  padding: 2px 4px;
  border-radius: 4px;
}

.ProseMirror a {
  cursor: pointer;
  text-decoration: underline;
  color: #60a5fa;
}

.ProseMirror img {
  max-width: 100%;
  height: auto;

  border-radius: 12px;
  margin: 16px 0;
}